{% extends "blog/base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
  <h1>Registration</h1>


  <form  method="post" action="{% url 'register' %}">

   {% csrf_token %}
  
   
   
    
   
<table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        
    

    
    <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}</td>
        </tr>
       


    <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
        </tr>
        
    </table>
{{ form.username.errors }}
{{ form.password1.errors }}
{{ form.password2.errors }}

    <input type="submit" value="Create" />

  </form>
{% endblock %}
